@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.clearfix {
    clear: both;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*****************************

    *   Title: Smooth Back To Top Button - CSS Effects

    *   Author: Tyler Potts

    *   Site owner/sponsor: https://www.youtube.com/

    *   Date: 23 Febuary 2023

    *   Availability: https://www.youtube.com/watch?v=fYGe-SuFAHU (Accessed 29 December 2024)

*****************************/
html {
    scroll-behavior: smooth;
}
/* End of [non-original or refactored code] */

body {
    height: 100vh;
}

/* Header styles */
header .header_container {
    width: 100%;
    min-height: 60px;
    max-height: 120px;
    background-color: #fbb1b1;
}

header .header_container .logo_container {
    width: 500px;
    height: 60px;
    float: left;
    margin-left: 7vw;
    margin-right: 10px;
}

header .header_container .logo_container picture img {
    position: relative;
    top: 10px;
}

header .header_container .navigation_container {
    height: 60px;
    float: right;
    margin-right: 7vw;
    margin-left: 10px;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

header .header_container .navigation_container nav {
    position: relative;
    top: 23px;
}

header .header_container .navigation_container nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 60px;
}

header .header_container .navigation_container nav ul li:last-child {
    margin-right: 0;
}

header .header_container .navigation_container nav ul li a {
    text-decoration: none;
}

header .header_container .navigation_container nav ul li a:link,
header .header_container .navigation_container nav ul li a:visited,
header .header_container .navigation_container nav ul li a:hover,
header .header_container .navigation_container nav ul li a:active {
    color: #000;
}

/* Main content styles */
main {
    width: 100%;
}

main .main_container {
    background-color: #fcc5c5;
}

main .main_container .description_container {
    width: 100%;
    min-height: 250px;
    background-color: #fdd8d8;
}

main .main_container .description_container #description {
    margin-left: 9vw;
    margin-right: 25vw;
}

main .main_container .aside_container {
    width: 25%;
    float: right;
    position: sticky;
    top: 5px;
}

main .main_container .aside_container aside {
    margin-right: 8vw;
    margin-left: 1vw;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
}

main .main_container .aside_container aside .email {
    width: 100%;
    height: 100%;
    background-color: #fdd8d8;
    border: #6d213c solid 1px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

main .main_container .aside_container aside .email form input[type="text"] {
    width: 80%;
    border: #fbb1b1 solid 2px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    background-color: #fdf1f1;
}

main .main_container .aside_container aside .email form input[type="submit"] {
    width: 40%;
    border: #fbb1b1 solid 2px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: #fdf1f1;
    font-weight: 500;
}

main .main_container .aside_container aside .social_media {
    width: 100%;
    height: 100%;
    background-color: #fdd8d8;
    border: #6d213c solid 1px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}

main .main_container .aside_container aside .social_media picture img {
    border-radius: 50%;
}

main .main_container .aside_container aside .social_media picture a {
    text-decoration: none;
}

main .main_container .aside_container aside .email form .aside,
main .main_container .aside_container aside .social_media .aside {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 10px;
}

main .main_container .content_container {
    width: 75%;
}

main .main_container .content_container .main_content_container {
    margin-left: 9vw;
    margin-right: 1vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Footer styles */
footer .footer_container {
    width: 100%;
    min-height: 250px;
}

footer .footer_container .footer_links_container {
    width: 100%;
    min-height: 200px;
    background-color: #fdd8d8;
}

footer .footer_container .footer_links_container .right_links_container {
    width: 25%;
    height: 100%;
    float: right;
}

footer .footer_container .footer_links_container .right_links_container .right_links_content {
    float: right;
    padding-right: 7vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .footer_container .footer_links_container .right_links_container .right_links_content p {
    font-weight: 600;
}

footer .footer_container .footer_links_container .right_links_container .right_links_content a {
    text-decoration: none;
    color: #000000;
}

footer .footer_container .footer_links_container .left_links_container {
    width: 75%;
    height: 100%;
}

footer .footer_container .footer_links_container .left_links_container .left_links_content {
    padding-left: 7vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .footer_container .footer_links_container .left_links_container .left_links_content p {
    font-weight: 600;
}

footer .footer_container .footer_links_container .left_links_container .left_links_content a {
    text-decoration: none;
    color: #000000;
}

footer .footer_container .footer_links_container .left_links_container .left_links_content ul#outer_list {
    list-style: none;
    padding-left: 0;
}

footer .footer_container .footer_links_container .left_links_container .left_links_content ul#inner_list {
    list-style: circle;
    padding-left: 20px;
}

footer .footer_container .footer_copyrights {
    width: 100%;
    height: 50px;
    background-color: #fbb1b1;
}

footer .footer_container .footer_copyrights p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding-top: 15.5px;
    padding-bottom: 15.5px;
}

/*****************************

    *   Title: Smooth Back To Top Button - CSS Effects

    *   Author: Tyler Potts

    *   Site owner/sponsor: https://www.youtube.com/

    *   Date: 23 Febuary 2023

    *   Availability: https://www.youtube.com/watch?v=fYGe-SuFAHU (Accessed 29 December 2024)

*****************************/
.back_to_top {
    
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* Modified: Code refactored (changed property value) */
    padding: 10px;
    background-color: #fdf1f1;
    border-radius: 50px;
    transition: 0.5s ease-out;
    /* End of refactored code */
}

.back_to_top span {
    /* Modified: Code refactored (changed property value) */
    color: #e99292;
    font-size: 30px;
    transition: 0.5s ease-out;
    /* End of refactored code */
}
/* End of [non-original or refactored code] */