main .main_container .description_container #description h1 {
    padding-top: 4vh;
    padding-bottom: 1vh;
    border-bottom: #6d213c solid 3px;
    border-radius: 5px;
}

main .main_container .description_container #description p {
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-weight: 400;
    font-size: 18px;
}
