main .main_container .content_container .main_content_container .table_container {
    margin-left: 1vw;
    margin-right: 1vw;
}

main .main_container .content_container .main_content_container .table_container table.label {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
}

main .main_container .content_container .main_content_container .table_container table {
    width: 100%;
    padding: 20px;
    border-right: #6d213c solid 2px;
    border-bottom: #6d213c solid 2px;
    border-radius: 10px;
    border-spacing: 10px;
    background-color: #fdd8d8;
}

main .main_container .content_container .main_content_container .table_container table.label th:first-child,
main .main_container .content_container .main_content_container .table_container td:first-child { 
    width: 5%;
}

main .main_container .content_container .main_content_container .table_container table.label th:last-child,
main .main_container .content_container .main_content_container .table_container td:last-child {
    width: 20%;
}

main .main_container .content_container .main_content_container .table_container th {
    font-size: 17px;
}

main .main_container .content_container .main_content_container .table_container td {
    padding: 8px;
    padding-left: 15px;
    border-top: #6d213c solid 2px;
    border-left: #6d213c solid 2px;
    border-radius: 10px;
}

main .main_container .content_container .main_content_container .table_container td:first-child {
    color: #6d213c;
    padding-left: 8px;
}

main .main_container .content_container .main_content_container .table_container td:last-child a {
    color: #6d213c;
    text-decoration: none;
}

main .main_container .content_container .main_content_container .table_container td:first-child, 
main .main_container .content_container .main_content_container .table_container td:last-child {
    text-align: center;
}